@model CustomerRealtionshipManagement.Models.Customer
@{
    ViewData["Title"] = "Checking";
    bool flag = (bool)ViewData["IsPhoneNumberPresent"];
    string phoneNumber = ViewData["PhoneNumber"] as string;
}


<h2>Checking</h2>
<div asp-action="Checking">

@if (flag)
{
    <h1>This phone number is already Registered.</h1>
    <p>You dont need to register yourself you can directly ask your question by clicking below link</p>
        <a class="btn btn-danger" href="@Url.Action("PhoneView", new { phoneNumber = phoneNumber })">View All Data</a>
}
else
{
    <h1>The phone number is not yet Register.</h1>
    <p>Please Register yourself by clicking on the below button</p>
     <a class="btn btn-danger" href="@Url.Action("AddOrEdit")">Register New</a>
}
</div>